@using UltimateInvocing.Web.Startup
@model UltimateInvocing.Factories.OrderItems.OrderItemsListModel
@{
    ViewBag.CurrentPageName = PageNames.Order; // The menu item will be active for this page.
}
@section scripts
{
        <script src="~/view-resources/Views/OrderItem/Index.js" asp-append-version="true"></script>
}
<div class="modal fade" id="OrderItemCreateModal" tabindex="-1" orderItem="dialog" aria-labelledby="OrderItemCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" orderItem="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewOrderItem")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="orderItemCreateForm" orderItem="form" novalidate class="form-validation">
                    product
                    <input type="hidden" value="@Model.OrderId" name="OrderId" />
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="Products" asp-items="Model.Products" name="ProductId" id="ProductId"></select>
                                    <label for="Products" class="form-label">@L("ProductId")</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="number" name="Quantity" id="Quantity" class="form-control" />
                                    <label for="Quantity" class="form-label">@L("OrderItem.Quantity")</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("OrderItems")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" orderItemItem="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>#</b></th>
                            <th>@L("Product.Number")</th>
                            <th>@L("Product.Name")</th>
                            <th>@L("Product.Description")</th>
                            <th>@L("Product.SKUCode")</th>
                            <th>@L("Product.Weight")</th>
                            <th>@L("Orderitem.PricePer")</th>
                            <th>@L("Product.Tax")</th>
                            <th>@L("OrderItem.Quantity")</th>
                            <th>@L("OrderItem.PriceTotal")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int index = 1;}
                        @foreach (var orderItem in Model.OrderItems)
                        {
                            <tr>
                                <td><b>@index</b></td> @{index++;
                                }
                                <td>@orderItem.Number</td>
                                <td>@orderItem.Name</td>
                                <td>@orderItem.Description</td>
                                <td>@orderItem.SKUCode</td>
                                <td>@orderItem.Weight</td>
                                <td>€@orderItem.Price.ToString("0.00")</td>
                                <td>@orderItem.Tax</td>
                                <td>@orderItem.Quantity</td>
                                @{ float total = orderItem.Price * orderItem.Quantity; }
                            <td>€@total.ToString("0.00")</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" orderItem="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block refresh-product" data-orderItem-id="@orderItem.Id" data-toggle="modal" data-target="#ProductEditModal"><i class="material-icons">local_grocery_store</i>@L("UpdateProductDetails")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-orderItem" data-orderItem-id="@orderItem.Id" data-orderItem-name="@orderItem.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>@L("Total")</th>
                            <th>€@Model.Total.ToString("0.00")</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>@L("Tax")</th>
                            <th>€@Model.Tax.ToString("0.00")</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>@L("TotalTax")</th>
                            <th>€@Model.TotalTax.ToString("0.00")</th>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#OrderItemCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="OrderItemEditModal" tabindex="-1" orderItem="dialog" aria-labelledby="OrderItemEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" orderItem="document">
        <div class="modal-content">

        </div>
    </div>
</div>