@using UltimateInvocing.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Home; // The menu item will be active for this page.
}
@model UltimateInvocing.Factories.Home.HomeModel
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" asp-append-version="true" />
}
@section scripts
{
    <environment names="Development">
        <script src="~/lib/jquery-countTo/jquery.countTo.js" asp-append-version="true"></script>
        <script src="~/lib/raphael/raphael.js" asp-append-version="true"></script>
        <script src="~/lib/morris.js/morris.js" asp-append-version="true"></script>
        <script src="~/lib/chart.js/dist/Chart.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.resize.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.pie.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.categories.js" asp-append-version="true"></script>
        <script src="~/lib/Flot/jquery.flot.time.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-sparkline/dist/jquery.sparkline.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script>
    </environment>
}

<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">@L("Customers").ToUpper()</div>
                <div class="number count-to" data-from="0" data-to="@Model.Customers" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">shopping_basket</i>
            </div>
            <div class="content">
                <div class="text">ORDERS</div>
                <div class="number count-to" data-from="0" data-to="@Model.Orders" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>
            <div class="content">
                <div class="text">PRODUCTS</div>
                <div class="number count-to" data-from="0" data-to="@Model.Products" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">people</i>
            </div>
            <div class="content">
                <div class="text">@L("Users").ToUpper()</div>
                <div class="number count-to" data-from="0" data-to="@Model.Users" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>@L("Orders")</h2>
                    </div>
                </div>
            </div>
            <div class="body">
                <div id="" class="dashboard-flot-chart">
                    <canvas id="myChart" width="800" height="275"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header">
                <h2>@L("Order.Recent")</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>@L("Order.Number")</th>
                                <th>@L("Customer.CompanyName")</th>
                                <th>@L("Customer.Email")</th>
                                <th>@L("Address.PhoneNumber")</th>
                                <th>@L("Address.City")</th>
                                <th>@L("Address.StreetAddress")</th>
                                <th>@L("Address.HouseNumber")</th>
                                <th>@L("Address.PostalCode")</th>
                                <th>@L("Order.PaymentType")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.RecentOrders != null && Model.RecentOrders.orders != null)
                                {
                                    foreach (var order in Model.RecentOrders.orders)
                                    {
                                        <tr>
                                            <td>@order.Number</td>
                                            <td>@order.CustomerCompanyName</td>
                                            <td>@order.CustomerCompanyEmail</td>
                                            <td>@order.CustomerCompanyPhonenumber</td>
                                            <td>@order.CustomerCity</td>
                                            <td>@order.CustomerStreetAddress</td>
                                            <td>@order.CustomerHouseNumber</td>
                                            <td>@order.CustomerPostalCode</td>
                                            <td>@order.PaymentTypeName</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
    <!-- Browser Usage -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="header">
                <h2>@L("Products.TopSelling")</h2>
                <ul class="header-dropdown m-r--5"></ul>
            </div>
            <div class="body">
                <div id="donut_chart" class="dashboard-donut-chart"></div>
            </div>
        </div>
    </div>
    <!-- #END# Browser Usage -->
</div>
<script>

</script>