@using UltimateInvocing.Web.Models.Common.Modals
@model UltimateInvocing.Web.Factories.Company.CompanyListModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditCompany")))

<div class="modal-body">
    <form name="CompanyEditForm" asp-action="Update" asp-controller="Company" enctype="multipart/form-data" role="form" novalidate class="form-validation">
        @{ UltimateInvocing.Company.Dto.CompanyDto company = Model.Companies.First(); }
        <input type="hidden" name="Id" value="@company.Id" />
        <input type="hidden" name="Logo" value="@company.Logo" />

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companynameEdit" type="text" name="Name" value="@company.Name" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companynameEdit" class="form-label">@L("Company.Name")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companykvkEdit" type="text" name="KVK" value="@company.KVK" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companykvkEdit" class="form-label">@L("Company.KVK")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companyibanEdit" type="text" name="IBAN" value="@company.IBAN" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companyibanEdit" class="form-label">@L("Company.IBAN")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companybtwEdit" type="text" name="BTW" value="@company.BTW" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companybtwEdit" class="form-label">@L("Company.BTW")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <select id="CountryId" name="CountryId" required asp-items="Model.Countries" class="validate form-control"></select>
                        <label for="CountryId" class="form-label">@L("Country")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <select id="ProvinceId" name="ProvinceId" required asp-items="Model.Provinces" class="validate form-control"></select>
                        <label for="ProvinceId" class="form-label">@L("Province")</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companycityEdit" type="text" name="City" value="@company.City" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companycityEdit" class="form-label">@L("Company.City")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companystreetaddressEdit" type="text" value="@company.StreetAddress" name="StreetAddress" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companystreetaddressEdit" class="form-label">@L("Company.StreetAddress")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companyhousenumberEdit" type="text" value="@company.HouseNumber" name="Housenumber" required maxlength="128" minlength="0" class="validate form-control">
                        <label for="companyhousenumberEdit" class="form-label">@L("Company.HouseNumber")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companypostalcodeEdit" type="text" value="@company.PostalCode" name="Postalcode" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companypostalcodeEdit" class="form-label">@L("Company.PostalCode")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="companyphonenumberEdit" type="text" value="@company.PhoneNumber" name="Phonenumber" required maxlength="128" minlength="2" class="validate form-control">
                        <label for="companyphonenumberEdit" class="form-label">@L("Company.PhoneNumber")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="companylogoEdit" class="form-label">@L("Company.Logo") <i class="material-icons">file_upload</i></label>
                    <input id="companylogoEdit" style="display: none" type="file" name="File" multiple="" required class="validate form-control">
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
        </div>

    </form>
</div>

<script src="~/view-resources/Views/Companies/_EditCompanyModal.js" asp-append-version="true"></script>
