@using UltimateInvocing.Web.Models.Common.Modals
@model UltimateInvocing.Factories.Product.ViewModels.EditProductViewModel
@{
    Layout = null;
}

@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditProduct")))



<div class="modal-body">
    <form name="ProductEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Number" type="number" value="@Model.Number" name="Number" required min="0" class="validate form-control">
                        <label for="Number" class="form-label">@L("Product.Number")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Name" type="text" value="@Model.Name" name="Name" required maxlength="128" minlength="0" class="validate form-control">
                        <label for="Name" class="form-label">@L("Product.Name")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Description" type="text" value="@Model.Description" name="Description" maxlength="128" minlength="0" class="validate form-control">
                        <label for="Description" class="form-label">@L("Product.Description")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="SKUCode" type="text" value="@Model.SKUCode" name="SKUCode" required maxlength="128" minlength="0" class="validate form-control">
                        <label for="SKUCode" class="form-label">@L("Product.SKUCode")</label>
                    </div>
                </div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Weight" type="number" value="@Model.Weight" name="Weight" required maxlength="128" minlength="0" class="validate form-control">
                        <label for="Weight" class="form-label">@L("Product.Weight")</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Price" type="text" value="@Model.Price" min="0" step="any" name="Price" required maxlength="128" minlength="0" class="validate form-control">
                        <label for="Price" class="form-label">@L("Product.Price")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <select id="TaxGroup" name="TaxGroupId" required asp-items="Model.TaxGroups" class="validate form-control"></select>
                        <label for="Tax" class="form-label">@L("Product.Tax")</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Stock" type="number" value="@Model.Stock" name="Stock" required  minlength="0" class="validate form-control">
                        <label for="Stock" class="form-label">@L("Product.Stock")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    @if (Model.IsAvailable)
                    {
                        <input class="filled-in" value="True" type="checkbox" name="IsAvailable" id="IsAvailable" checked="checked" />
                    }
                    else
                    {
                        <input class="filled-in" value="False" type="checkbox" name="IsAvailable" id="IsAvailable" />
                    }
                    <label for="IsAvailable" class="form-label">@L("Product.IsAvailable")</label>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Products/_EditProductModal.js" asp-append-version="true"></script>