@using UltimateInvocing.Web.Startup
@model UltimateInvocing.Factories.Order.OrderListModel
@{
    ViewBag.CurrentPageName = PageNames.Order; // The menu item will be active for this page.
}
@section scripts
{
        <script src="~/view-resources/Views/Order/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Orders")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" order="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Order.Number")</th>
                            <th>@L("Customer.CompanyName")</th>
                            <th>@L("Customer.Email")</th>
                            <th>@L("Address.PhoneNumber")</th>
                            <th>@L("Address.City")</th>
                            <th>@L("Address.StreetAddress")</th>
                            <th>@L("Address.HouseNumber")</th>
                            <th>@L("Address.PostalCode")</th>
                            <th>@L("Address.Taxable")</th>
                            <th>@L("Order.PaymentType")</th>
                            @if (Model.Companies != null && Model.Companies.Count > 1)
                            {
                                <th>@L("Company.CompanyName")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.orders)
                        {
                        <tr>
                            <td>@order.Number</td>
                            <td>@order.CustomerCompanyName</td>
                            <td>@order.CustomerCompanyEmail</td>
                            <td>@order.CustomerCompanyPhonenumber</td>
                            <td>@order.CustomerCity</td>
                            <td>@order.CustomerStreetAddress</td>
                            <td>@order.CustomerHouseNumber</td>
                            <td>@order.CustomerPostalCode</td>
                            <td>
                                @if (order.CustomerTaxable)
                                {<i class="material-icons">check</i>}
                                else
                                {<i class="material-icons">cancel</i>}
                            </td>
                            <td>@order.PaymentTypeName</td>
                            @if(Model.Companies.Count > 1)
                            {
                                <td>@order.CompanyName</td>
                            }
                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" order="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="~/Order/@order.Id" class="waves-effect waves-block" data-customer-id="@order.Id"><i class="material-icons">inbox</i>@L("Order.OrderItems")</a></li>
                                    <li><a href="#" class="waves-effect waves-block edit-order" data-order-id="@order.Id" data-toggle="modal" data-target="#OrderEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                    <li><a href="#" class="waves-effect waves-block update-customer" data-order-id="@order.Id"><i class="material-icons">people</i>@L("UpdateCustomerDetails")</a></li>
                                    <li><a href="#" class="waves-effect waves-block update-company" data-order-id="@order.Id"><i class="material-icons">business</i>@L("UpdateCompanyDetails")</a></li>
                                    <li><a href="#" class="waves-effect waves-block delete-order" data-order-id="@order.Id" data-order-name="@order.Id"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                </ul>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#OrderCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="OrderEditModal" tabindex="-1" order="dialog" aria-labelledby="OrderEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" order="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="OrderCreateModal" tabindex="-1" order="dialog" aria-labelledby="OrderCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" order="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewOrder")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="orderCreateForm" order="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input name="Number" id="Number" class="form-control" value="@Model.NewOrderNumber" type="text" />
                                    <label for="Number" class="form-label">@L("Order.Number")</label>
                                </div>
                            </div>
                        </div>

                        @if (Model.Companies != null && Model.Companies.Count > 1)
                        {
                            //We only want to display this if there is more then one country
                            <div class="col-sm-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select id="CompanyId" name="CompanyId" required asp-items="Model.Companies" class="validate form-control"></select>
                                        <label for="CompanyId" class="form-label">@L("Companies")</label>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Companies == null)
                        {
                            <input type="hidden" value="0000-0000-0000-0000-0000" name="CompanyId" />
                        }
                        else
                        {
                            <input type="hidden" value="@Model.Companies.First().Value" name="CompanyId" />
                        }
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="PaymentTypeId" name="PaymentMethodId" required asp-items="Model.PaymentTypes" class="validate form-control"></select>
                                    <label for="PaymentTypeId" class="form-label">@L("PaymentTypes")</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="CustomerId" name="CustomerId" required asp-items="Model.Customers" class="validate form-control"></select>
                                    <label for="CustomerId" class="form-label">@L("Customers")</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="AddressId" name="AddressId" required asp-items="Model.Addresses" class="validate form-control"></select>
                                    <label for="AddressId" class="form-label">@L("Addresses")</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
